body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

#features {
  padding: 7% 15%;
}

#testimonials {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
  text-align: center;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
}

.navbar {
  padding-bottom: 4.5rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
    transform: rotate(25deg);
  width: 60%;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.feature-icon {
  color: #ff4c68;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: pink;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

.carousel-item {
  padding: 7% 15%;
}
